<footer class="footer__section">
  <div class="footer__container">
    <div id="left__footer__content" class="footer__content">
      <a href="#home__page">
        <span class="title__logo">
          <img src="/assets/img/logo.svg" title="Moosync" alt="" id="footer__logo" class="logo__img" />
          <span class="title">moosync</span>
        </span>
      </a>
      <p id="footer__info__text__2" class="info__text__2">
        Incase of any query or suggestion<br />feel free to reach us.
      </p>
      <a href="mailto:support@moosync.app">
        <p class="info__text__3">
          support@moosync.app
          <img src="/assets/img/link.svg" alt="" id="link__icon" />
        </p>
      </a>
    </div>
    <div id="right__footer__content__wrapper">
      <div id="right__footer__content" class="footer__content">
        <!-- <span id="footer__info__text__1" class="info__text__1">Subscribe to the newsletter for
                        updates</span>
                    <form action="" class="subscribe">
                        <input type="email" placeholder="yourname@domain.com" required autocomplete="off"
                            class="email__input" />
                        <button type="submit" id="subscribe__button" class="link__buttons">
                            Subscribe
                        </button>
                    </form> -->
        <div class="general__info__links">
          <div class="footer__general">
            <span id="footer__info__text__heading" class="info__text__1">general</span>
            <ul class="general__info__link__list">
              <!-- <li class="list__items">About Us</li> -->
              <li class="list__items">
                <a href="https://www.iubenda.com/privacy-policy/70189564/full-legal" target="_blank"
                  rel="noopener noreferrer">Privacy Policy</a>
              </li>
              <li class="list__items">
                <a href="/docs/index.html" rel="noopener noreferrer">Extension Docs</a>
              </li>
            </ul>
          </div>
          <div id="right__footer__general" class="footer__general">
            <span id="footer__info__text__heading" class="info__text__1">community</span>
            <ul class="general__info__link__list">
              <li class="list__items">
                <a href="https://github.com/Moosync" target="_blank" rel="noopener noreferrer">GitHub Repositories</a>
              </li>
              <li class="list__items">
                <a href="https://discord.gg/HsbqbRune3" target="_blank" rel="noopener noreferrer">Join us on Discord</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="notice">
    <p class="notice__text">
      Moosync's use and transfer to any other app of information received from
      Google APIs will adhere to the Google API Services User Data Policy,
      including the Limited Use requirements.
    </p>
  </div>
  <span id="copyright__text">Copyright &copy; 2022 Moosync</span>
</footer>